.loader-div {
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-div p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loader {
  width: 240px;
  height: 25px;
  position: relative;
  overflow: hidden;
  background-color: #111111;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.loader:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 25px;
  width: 10%;
  background-color: rgb(110, 110, 110);
  -webkit-animation: lineAnim 1.5s linear infinite;
  -moz-animation: lineAnim 1.5s linear infinite;
  animation: lineAnim 1.5s linear infinite;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}
