#root {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  --bg-primary: #111111;
  --bg-secondary: #1e1e1e;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 250ms ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  z-index: 2;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:first-child {
  padding-top: 4rem;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #ffffff;
  text-decoration: none;

  transition: all 250ms ease-in-out;

  cursor: pointer;
}

.link-text {
  display: none;
  white-space: pre;
}

.nav-link img {
  min-width: 1.2rem;
  margin: 0 1.8rem;
  transition: all 250ms ease-in-out;
}
.nav-link:hover {
  filter: brightness(200%);
}

.nav-link:hover img {
  filter: brightness(200%);
}

.navbar:hover {
  width: 11rem;
}
.navbar:hover .link-text {
  display: block;
  animation: fadeIn 0.4s ease;
  color: rgb(112, 112, 112);
}

.logo img {
  width: 3.5rem;

  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  .navbar:hover {
    width: 100vw;
  }
  .navbar:hover .link-text {
    display: none;
  }
  .nav-item:last-child {
    margin-top: 0;
  }
}
