.sessionCard {
  width: 80vw;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #1e1e1e;
  border-radius: 11px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 150ms ease;

  cursor: pointer;
}

.sessionCard:hover {
  background-color: rgb(33, 33, 33);
}

@media screen and (max-width: 768px) {
  .sessionCard {
    width: 85vw;
  }
  .timeZone {
    display: none;
  }
}
